
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Network</title>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/social-media-black-white-1/1024/instagram-512.png" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "frontend/css/bootstrap.min.css"%}">
</head>
<body>
    <div id="app"></div>
    <script src="{% static "frontend/main.js/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>